/* ================================ *\
	# global header
\* ================================ */

#global-header.global-header-menu-open {
	width: 100vw;
	height: 100vh;
}
#global-header-primary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 70px;
	position: absolute;
	z-index: 3;
	padding: 5px 10px;
	/* background just needed for mobile (to cover the secondary header during menu open) */
	background: linear-gradient(to bottom, #fafafa, #eee);
}
#global-header svg {
	cursor: pointer;
}
#global-header rect {
	width: 34px;
	height: 34px;
	rx: 12px;
	ry: 12px;
	x: 3px;
	y: 3px;
	fill: #eee;
	stroke: #bbb;
	stroke-width: 2px;
}
#global-header path {
	d: path('M 11 11 l 18 0 m-18 9 l 18 0 m -18 9 l 18 0');
	stroke: #bbb;
	stroke-width: 3px;
	stroke-linecap: round;
	transform-origin: 20px 20px;
	transition: all 300ms;
}
#global-header.global-header-menu-open path {
	d: path('M 11 11 l 18 18 m-9 -9 l 0 0 m -9 9 l 18 -18');
	stroke-width: 4px;
	transform: rotate(270deg);
}

/* global header - menu items */

#global-header-secondary {
	position: absolute;
	width: 100%;
	height: calc(100vh - 70px);
	top: calc(140px - 100vh);
	z-index: 2;
}
.global-header-menu-open #global-header-secondary {
	top: 70px;
	transition: top 200ms;
}
.global-navigation-menu-item {
	padding: 10px 40px;
	border-top: 1px solid #ccc;
	font-size: 30px;
	line-height: 2em;
	color: #666;
	cursor: pointer;
	transition: box-shadow 300ms;
}
.global-navigation-menu-item-focused {
	box-shadow: 0 0 5px 2px #999f inset;
}