/* ================================ *\
	# global header
\* ================================ */

#global-header {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 1;
	background: linear-gradient(to bottom, #fafafa, #eee);
	border-bottom: 1px solid #ddd;
	transition: height 200ms;
}

/* ================================ *\
	# main area
\* ================================ */

#layout-container {
	margin: 80px 10px 0;
	/*background: #fff8;*/
}

/* section format */
[data-section] > header h2 {
	background: linear-gradient(to right, #6bf0, #d1d6, #6bf0), linear-gradient(to right, #6bf8, #6bf0);
	border-radius: 6px;
}

/* sections in general */
#layout-container > section,
#layout-container > footer {
	margin: 20px 0;
}
section p {
	margin: 4px 10px;
}

/*
	that section-in-screen feature that the asked... tbh that's kinda stupid,
	what am i supposed to do, un-style stuff outside of the screen? :/ makes no sense
*/
[data-section] {
	transition: background 1s cubic-bezier(0, 0, 0.5, 1);
	background: #ff08;
}
.section-in-view {
	background: #ff00;
}

/* intro section */
#layout-site-intro {
	display: grid;
	grid: auto auto / 1fr;
	border-radius: 20px;
	overflow: hidden;
}
.layout-site-intro-image {
	display: flex;
}
.layout-site-intro-image picture {
	display: contents;
}
.layout-site-intro-image img {
	object-fit: cover;
}
.layout-site-intro-content {
	background: linear-gradient(#8bb77f, #cbe6c4);
}

/* news section */
.news-item + .news-item::before {
	content: " ";
	display: block;
	height: 4px;
	margin: 10px 0;
	background: linear-gradient(-35deg, #f88 13.29%, #ff8 15.29%, #ff8 27.57%, #8f8 29.57%, #8f8 41.86%, #8ff 43.86%, #8ff 56.14%, #88f 58.14%, #88f 70.43%, #f8f 72.43%, #f8f 84.71%, #f88 86.71%);
}

.news-item h2 {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #ccf;
	line-height: 1.5em;
	font-size: 20px;
}

.news-item a {
	color: #369;
}

.news-item header p {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #99d;
}

.news-item p {
	margin: 0;
	font-style: italic;
	font-size: smaller;
}

.news-item header p a {
	color: #99d;
}

.news-item header p a:hover {
	color: #88a;
}

/* dynamic image container */
.dynamic-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4px;
}
.dynamic-container a {
	color: #666;
	display: contents;
}
.dynamic-container a:hover {
	opacity: 0.8;
}
.dynamic-container .dynamic-item {
	overflow: hidden;
	background: #def;
	border-radius: 10px;
}
.dynamic-container h2, 
.dynamic-container p {
	margin: 0 10px;
	padding: 0;
	font-size: 10px;
	line-height: 1.4em;
}
.dynamic-container p {
	margin-bottom: 10px;
}
.dynamic-container img {
	width: 100%;
}

/* form */
.subscription-form {
	display: grid;
	gap: 10px;
	padding: 20px;
	font-size: smaller;
}
.subscription-form fieldset {
	border: none;
}
.subscription-form label {
	display: block;
	margin-top: 10px;
}
.form-field-required::before {
	content: " *";
	color: #c00;
	font-family: monospace;
}
.subscription-form :is(input, textarea) {
	width: 100%;
	height: 2em;
	padding: 0 10px;
	background: #eef8ff;
	border: 1px solid #aaa;
	font: normal 14px/1.8em 'Open Sans', Arial, sans-serif;
}
.subscription-form input:invalid {
	outline: 2px solid #c606;
	outline-offset: 2px;
}
[name="sbsc-textbody"] {
	overflow: hidden;
	resize: none;
	transition: height 500ms 100ms ease-in-out;
}
[name="sbsc-textbody"]:focus {
	height: 300px;
	overflow: visible;
	transition: height 300ms;
}
.subscription-form button {
	padding: 6px;
	cursor: pointer;
}

/* tags section */
#layout-site-tags {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px 40px;
}
.tags-links {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
	gap: 20px;
}
.tags-link {
	font-size: 24px;
	line-height: 1.5em;
}
[data-pop="1"] {
	font-size: 12px;
}
[data-pop="2"] {
	font-size: 16px;
}
[data-pop="3"] {
	font-size: 20px;
}

/* ================================ *\
	# footer
\* ================================ */

#layout-site-footer {
	padding: 50px 40px;
	background: #6668;
}
.footer-sections-container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.footer-section {
	color: #fff;
}

.footer-section h3 {
	margin: 0;
	padding: 0;
}
.footer-section li {
	margin: 5px 0;
}

.footer-section a {
	color: #fff;
}

.footer-refs {
	margin-top: 100px;
	text-align: center;
	color: #000;
}
.footer-refs a {
	color: #8ff;
}

/* ================================ *\
	# miscellaneous
\* ================================ */

/* back to top button */
#back-to-top {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	background: #0008 url('../images/totop.svg') -1px 0 no-repeat; /* has to reposition because the box-sizing is set to border box */
	border: 1px solid #fff8;
	border-radius: 40%;
	transition: right 300ms, border-radius 300ms 150ms;
	cursor: pointer;
}
#back-to-top.back-to-top-hidden {
	right: -40px;
	border-radius: 40% 0 0 40%;
}