/* ================================ *\
	# global header
\* ================================ */

/* intro section */
#layout-site-intro {
	grid: auto / 1fr 1fr;
}

/* dynamic image container */
.dynamic-container h2 {
	font-size: 18px;
}
.dynamic-container p {
	font-size: 18px;
	margin-bottom: 6px;
}

/* form */
.subscription-form {
	grid: auto / 1fr 1fr;
}