/* ================================ *\
	# global header
\* ================================ */

#global-header {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 1;
	background: linear-gradient(to bottom, #fafafa, #eee);
	border-bottom: 1px solid #ddd;
	transition: height 200ms;
}



/* ================================ *\
	# main area
\* ================================ */

#layout-container {
	margin: 80px 10px 0;
	/*background: #fff8;*/
}

/* section format */
[data-section] > header h2 {
	background: linear-gradient(to right, #6bf0, #d1d6, #6bf0), linear-gradient(to right, #6bf8, #6bf0);
	border-radius: 6px;
}

/* sections in general */
#layout-container > section {
	margin: 20px 0;
}
section p {
	margin: 4px 10px;
}

/* intro section */
#layout-site-intro {
	display: grid;
	grid: auto auto / 1fr;
	border-radius: 20px;
	overflow: hidden;
}
.layout-site-intro-content {
	background: linear-gradient(#8bb77f, #cbe6c4);
}
.layout-site-intro-image img {
	vertical-align: middle;
}

/* news section */

.news-item + .news-item::before {
	content: " ";
	display: block;
	height: 4px;
	margin: 10px 0;
	background: linear-gradient(-35deg, #f88 13.29%, #ff8 15.29%, #ff8 27.57%, #8f8 29.57%, #8f8 41.86%, #8ff 43.86%, #8ff 56.14%, #88f 58.14%, #88f 70.43%, #f8f 72.43%, #f8f 84.71%, #f88 86.71%);
}

.news-item h2 {
	margin: 0;
	padding: 0;
	border-bottom: 2px solid #ccf;
	line-height: 1.5em;
	font-size: 20px;
}

.news-item a {
	color: #369;
}

.news-item header p {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #99d;
}

.news-item p {
	margin: 0;
	font-style: italic;
	font-size: smaller;
}

.news-item header p a {
	color: #99d;
}

.news-item header p a:hover {
	color: #88a;
}

/* dynamic image container */
.dynamic-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4px;
}
.dynamic-container a {
	color: #666;
	display: contents;
}
.dynamic-container a:hover {
	opacity: 0.8;
}
.dynamic-container .dynamic-item {
	overflow: hidden;
	background: #def;
	border-radius: 10px;
}
.dynamic-container h2, 
.dynamic-container p {
	margin: 0 10px;
	padding: 0;
	font-size: 10px;
	line-height: 1.4em;
}
.dynamic-container p {
	margin-bottom: 10px;
}
.dynamic-container img {
	width: 100%;
}

/* form */
.subscription-form {
	display: grid;
	gap: 10px;
	padding: 20px;
	font-size: smaller;
}
.subscription-form fieldset {
	border: none;
}
.subscription-form label {
	display: block;
}
.form-field-required::before {
	content: " *";
	color: #c00;
	font-family: monospace;
}
.subscription-form :is(input, textarea) {
	width: 100%;
}
.subscription-form textarea {
	resize: none;
}
.subscription-form input:invalid {
	outline: 2px solid #c606;
	outline-offset: 2px;
}
[name="sbsc-textbody"]:focus {
	height: 300px;
	transition: all 300ms;
}
[name="sbsc-textbody"] {
	height: 20px;
	transition: all 500ms 100ms ease-in-out;
}

/* back to top button */
#back-to-top {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 40px;
	right: 10px;
	background: #0008 url('../images/totop.svg') -1px 0 no-repeat; /* has to reposition because the box-sizing is set to border box */
	border: 1px solid #fff8;
	border-radius: 40%;
	transition: right 300ms, border-radius 300ms 150ms;
	cursor: pointer;
}

/* ================================ *\
	# footer
\* ================================ */

#layout-site-footer {
	height: 600px;
	background: #6668;
}

/* ================================ *\
	# miscellaneous
\* ================================ */

#back-to-top.back-to-top-hidden {
	right: -40px;
	border-radius: 40% 0 0 40%;
}