/* ================================ *\
	# main area
\* ================================ */

/* layout container */
#layout-container {
	margin: 80px 10% 0;
}

/* intro section */
#layout-site-intro {
	grid: auto / 40% 1fr;
}

/* dynamic container */
.dynamic-container {
	grid-template-columns: repeat(3, 1fr);
}

/* news section */
.news-container {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}
.news-item {
	flex: 1;
}
.news-item + .news-item::before {
	display: none;
}
.news-container header {
	height: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.news-container h2 {
	font-size: 1.8vw;
}

/* tags section */
#layout-site-tags {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 20px 40px;
}
.tags-links {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: center;
	gap: 20px;
}
.tags-link {
	font-size: 36px;
	line-height: 1.5em;
}
[data-pop="1"] {
	font-size: 18px;
}
[data-pop="2"] {
	font-size: 24px;
}
[data-pop="3"] {
	font-size: 30px;
}

/* footer */
#layout-site-footer {
	flex-direction: row;
	justify-content: center;
	gap: 60px;
}