#layout-container {
	margin: 70px 100px 0 100px;
}

/* dynamic image container */
/* (tried to use a counter and increase for each next media query. didn't wory :/) so ima just use flex i guess */
.dynamic-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
.dynamic-container h2,
.dynamic-container p {
	font-size: 14px;
}
.dynamic-container > a {
	flex: 0 0 calc(100% / 4 - 20px);
}
@media (min-width: 1000px) {
	.dynamic-container > a {
		flex: 0 0 calc(100% / 4 - 20px);
	}
}
@media (min-width: 1300px) {
	.dynamic-container > a {
		flex: 0 0 calc(100% / 5 - 20px);
	}
}