#layout-container {
	margin: 80px 100px 0 100px;
}

.dynamic-container {
	grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 1000px) {
	.dynamic-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (min-width: 1400px) {
	.dynamic-container {
		grid-template-columns: repeat(6, 1fr);
	}
}